# Python кэш и скомпилированные файлы
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
.env
.venv/
env/
ENV/
env.bak/
venv.bak/

# Конфигурационные файлы с API-ключами
config.py

# База данных SQLite
*.sqlite3
*.db
db.sqlite3
db.sqlite3-journal

# Лог-файлы
*.log
logs/
debug.log
celerybeat-schedule
celerybeat.pid

# Файлы сборки и пакетов
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Логи pip и установочных скриптов
pip-log.txt
pip-delete-this-directory.txt

# Кэш тестов и покрытия кода
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Системные файлы IDE
.vscode/
.idea/
*.iml

# Файлы Jupyter Notebook
.ipynb_checkpoints/

# Настройки Django / Flask / других фреймворков
local_settings.py
instance/
.webassets-cache

# Файлы конфигурации Poetry, Pipenv, PDM (если используешь)
poetry.lock
Pipfile.lock
pdm.lock
.pdm.toml
.pdm-python
.pdm-build/

# PyType, Pyre и другие анализаторы типов
.pytype/
.pyre/
.mypy_cache/
.dmypy.json
dmypy.json

# Cython debug
cython_debug/

